

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0f172a;
    min-height: 100vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.container{
    width: 400px;
    background: #1e293b;

    padding: 50px;
    border-radius: 15px;

    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.container,
.app-info{
    width: 400px;
}

h1{
    text-align: center;
    margin-bottom: 20px;

    color: #60a5fa;
}

.input-group{
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
}

.input-group input{
    flex: 1;

    padding: 25px;

    border: none;
    outline: none;

    border-radius: 10px;

    background: #334155;
    color: white;
}

.input-group input::placeholder{
    color: #94a3b8;
}



.input-group button{
    width: 50px;

    border: none;
    border-radius: 10px;

    background: #2563eb;
    color: white;

    font-size: 20px;
    cursor: pointer;

    transition: 0.3s;
}

.input-group button:hover{
    background: #3b82f6;
}

.task-list{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task{
    background: #334155;

    padding: 14px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed span{
    text-decoration: line-through;
    opacity: 0.6;
}

.edit-btn {
    margin-left: auto;
    margin-right: 4px;
    background: rgb(192, 206, 6);

    border: none;
    color: white;

    width: 30px;
    height: 30px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

.edit-btn:hover{
    transform: scale(1.1);
    background: rgb(119, 128, 6);
}

.delete-btn{
    background: crimson;

    border: none;
    color: white;

    width: 30px;
    height: 30px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

.delete-btn:hover{
    transform: scale(1.1);
    background: red;
}